[Desktop Entry]
Comment=A QML plasmoid to display the application name of the focused window
Encoding=UTF-8
Icon=preferences-desktop
Name=Application Name
Type=Service
X-KDE-PluginInfo-Author=Andrea Scarpino
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=scarpino@kde.org
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=applicationname
X-KDE-PluginInfo-Version=1.8
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
